@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Geist+Mono:wght@400;500&display=swap");

@import "tailwindcss";

:root {
  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "Geist Mono", "JetBrains Mono", monospace;
}

.ant-table-pagination-end {
  padding-right: 10px;
}

/* In your global CSS file */
.skeleton-box {
  background-color: #e8e8e8 !important; /* lighter than the default ~#c0c0c0 */
}

/* If it uses a shimmer/wave animation, also lighten the highlight */
.skeleton-box::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  ) !important;
}
